* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
}

.main {
  background: url(../img/cards/bg.png), rgba(244, 244, 244, 0.69);
  background-repeat: no-repeat;
  background-position: 0px 0px;
}

.wrapper {
  max-width: 1300px;
  margin: auto;
  padding: 0 12px;
}

.ff-play {
  font-family: "Play", sans-serif;
}

.ff-raleway {
  font-family: "Raleway", sans-serif;
}

.ff-montserrat {
  font-family: "Montserrat", sans-serif;
}

.ff-work-sans {
  font-family: "Work Sans", sans-serif;
}

span {
  display: block;
}

a {
  text-decoration: none;
  display: block;
  color: white;
}

.menu {
  position: fixed;
  top: 0;
  min-height: 800px;
  width: 100%;
  background-color: rgb(246, 246, 246);
  background-image: url(../img/header/menu-bg.png);
  z-index: 100;
  right: -100%;
  transition: all 0.5s;
}

.menu__top {
  margin-top: 30px;
}

.menu__top .wrapper {
  display: flex;
  justify-content: end;
  -moz-column-gap: 50px;
       column-gap: 50px;
}

.menu__top input {
  position: relative;
  width: 300px;
  height: 76px;
  border-radius: 40px;
  outline: none;
  border: 2px solid rgb(190, 190, 190);
  font-size: 20px;
  padding-left: 60px;
  background-image: url(../img/header/menu_search.svg);
  background-repeat: no-repeat;
  background-position: 20px 20px;
}

.menu__close {
  position: relative;
  width: 76px;
  height: 76px;
  border-radius: 40px;
  border: 2px solid rgb(190, 190, 190);
  background-color: white;
  cursor: pointer;
}

.menu__close::after,
.menu__close::before {
  position: absolute;
  top: 48%;
  left: 26%;
  content: "";
  background: #081A3D;
  width: 36px;
  height: 3px;
  transform: rotate(45deg);
}

.menu__close::before {
  transform: rotate(-45deg);
}

.menu .border {
  background: white;
  border: 1px solid #BEBEBE;
  border-radius: 4px;
}

.menu__nav {
  margin: auto;
  padding: 0 20px;
  margin-top: 60px;
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
  max-width: 1600px;
}

.menu__central-block,
.menu__right-block {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  max-width: 400px;
  flex: 1;
}

.menu__central-block .menu__title,
.menu__right-block .menu__title {
  padding-left: 45px;
}

.menu__solution,
.menu__contacts {
  display: flex;
  align-items: center;
  min-height: 110px;
}

.menu__projects {
  min-height: 300px;
}

.menu__projects .inner-box {
  padding: 70px 0;
}

.menu__gallery {
  min-height: 220px;
}

.menu__gallery .inner-box {
  padding: 25px 0;
}

.menu__a-tent {
  min-height: 320px;
}

.menu__a-tent .inner-box {
  padding: 20px 0;
}

.menu__left-block {
  background: white;
  min-height: 500px;
  max-width: 700px;
  box-shadow: 4px 4px 25px rgba(40, 55, 85, 0.12);
  border-radius: 0px 48px 0px 0px;
}

.menu__left-block .inner-box {
  padding: 55px 40px;
}

.menu__left-block .menu__subpoint {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  justify-content: space-between;
  row-gap: 40px;
}

.menu__design-item {
  max-width: 290px;
}

.menu__design-item a:first-child {
  color: rgb(157, 157, 157);
  font-size: 20px !important;
  text-transform: uppercase;
}

.menu__title {
  color: #283755;
  text-transform: uppercase;
  font-family: "Play", sans-serif;
  position: relative;
  font-size: 24px;
  font-weight: 700;
}

.menu__subpoint {
  position: relative;
  padding: 0px 45px;
  margin-top: 55px;
}

.menu__subpoint a {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #283755;
  margin-bottom: 20px;
}

.menu__subpoint::before {
  position: absolute;
  content: "";
  height: 1px;
  width: calc(100% - 90px);
  top: -25px;
  background-color: #BEBEBE;
}

.header__wrapper {
  max-width: 1900px;
  height: 120px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.header__nav {
  max-width: 1000px;
  padding: 0 20px;
  flex: 1;
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

.header__link-box {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}

.header__link {
  color: #081A3D;
  font-size: 20px;
  font-weight: 500;
}

.header__link img {
  margin-left: 15px;
}

.header__menu {
  display: flex;
  -moz-column-gap: 70px;
       column-gap: 70px;
}

.header__search {
  cursor: pointer;
  background-color: #081A3D;
  width: 76px;
  height: 76px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__burger-box {
  cursor: pointer;
  background-color: #081A3D;
  width: 86px;
  height: 76px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__burger-line {
  position: relative;
  width: 40px;
  height: 3px;
  background-color: white;
}

.header__burger-line::before,
.header__burger-line::after {
  position: absolute;
  content: "";
  background-color: white;
  width: 40px;
  height: 3px;
  top: -10px;
  border-radius: 8px;
}

.header__burger-line::after {
  bottom: -10px;
  top: auto;
}

.header-2 {
  background: url(../img/header/hero.png);
  background-repeat: no-repeat;
  background-position: center 0;
}

.header-2 .header__link {
  color: white;
}

.header-2 .header__search,
.header-2 .header__burger-box {
  background-color: white;
}

.header-2 .header__burger-line,
.header-2 .header__burger-line::before,
.header-2 .header__burger-line::after {
  background-color: #081A3D;
}

.drop-down {
  height: 0%;
  overflow: hidden;
  position: absolute;
  width: 620px;
  flex: 1;
  background-color: white;
  left: 0;
  top: 90%;
}

.drop-down img {
  position: absolute;
  top: -10px;
  left: 40px;
}

.drop-down__inner-box {
  padding: 20px;
}

.drop-down__title {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;
}

.drop-down__content {
  display: flex;
  justify-content: space-between;
}

.drop-down__text {
  max-width: 260px;
  font-weight: 500;
}

.drop-down__link-box {
  position: relative;
  width: 285px;
  border: 1px solid #D7D7D7;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.drop-down__link-box::before {
  position: absolute;
  content: "";
  height: 0%;
  width: 5px;
  background-color: #20C2FF;
  transition: all 0.3s;
}

.drop-down__link-box:hover::before {
  height: 100%;
}

.drop-down__link {
  color: black;
  font-weight: 500;
  max-width: 280px;
  font-size: 18px;
  padding: 16px 12px;
}

.header-designs:hover .drop-down-designs {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow: visible;
}

.header-projects:hover .drop-down-projects {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow: visible;
}

.header-gallery:hover .drop-down-gallery {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow: visible;
}

.header-a-tent:hover .drop-down-a-tent {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow: visible;
}

.hero {
  padding: 150px 0 280px 0;
  background-image: url(../img/main/hero.png);
  background-repeat: no-repeat;
  background-position: center 0;
  background-position-y: -120px;
  color: white;
}

.hero__subtitle {
  font-size: 32px;
  font-weight: 500;
}

.hero__title {
  font-size: 100px;
  font-weight: 700;
  letter-spacing: 0.08em;
  margin-top: 30px;
}

.hero__text {
  font-size: 32px;
  font-weight: 500;
  max-width: 900px;
}

.hero__feedback {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 60px;
  background-color: #20C2FF;
  border-radius: 40px;
  font-size: 22px;
  font-weight: 600;
}

.info {
  background-color: #283755;
}

.info .wrapper {
  padding: 50px 0;
  display: flex;
  -moz-column-gap: 50px;
       column-gap: 50px;
}

.info__block {
  max-width: 430px;
  position: relative;
}

.info__title {
  color: #20C2FF;
  font-weight: 500;
}

.info__text {
  font-size: 22px;
  color: white;
  font-weight: 500;
  margin-top: 15px;
  padding-bottom: 90px;
}

.info__link {
  -moz-column-gap: 10px;
       column-gap: 10px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  font-size: 18px;
  font-weight: 600;
  width: 100%;
}

.info__link::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.4);
  top: -25px;
}

.products {
  padding-top: 120px;
  background: url(../img/main/products-bg.png);
  background-repeat: no-repeat;
  background-position: right top;
}

.products .description__content {
  max-width: 1100px;
}

.products .cards__box {
  padding-bottom: 120px;
}

.products .solutions {
  padding-bottom: 120px;
}

.products .solutions-slider {
  width: 100%;
  height: 100%;
}

.products .solutions-slider .swiper-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
}

.products .solutions-slider .swiper-slide {
  max-width: 290px;
  display: flex;
  flex-direction: column;
  box-shadow: 8px 8px 11px rgba(40, 55, 85, 0.17);
}

.products .solutions-slider .slider-img {
  width: 290px;
  height: 220px;
}

.products .solutions-slider .slide-info {
  position: relative;
  border: 1px solid rgb(215, 215, 215);
  min-height: 260px;
}

.products .solutions-slider .slide-inner-box {
  padding: 18px 16px 9px;
}

.products .solutions-slider .slide-title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 30px;
}

.products .solutions-slider .slide-text {
  font-size: 18px;
  line-height: 24px;
  padding-bottom: 20px;
}

.products .solutions-slider .slide-link {
  color: black;
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  position: absolute;
  bottom: 10px;
}

.show {
  background-color: #283755;
}

.show .wrapper {
  padding-top: 60px;
}

.show .description__content {
  max-width: 1300px;
  color: white;
}

.show .description__title {
  font-size: 48px;
}

.show__box {
  max-width: 1860px;
  margin: auto;
  padding-bottom: 60px;
  display: flex;
  justify-content: space-between;
}

.show__sidebar {
  max-width: 380px;
  flex: 1;
  background: rgba(198, 198, 198, 0.46);
}

.show__projects-inner-box {
  padding: 40px 40px 100px 40px;
}

.show__projects-item {
  position: relative;
  line-height: 36px;
  font-size: 24px;
  color: white;
  font-weight: 500;
  max-width: 280px;
  margin-bottom: 55px;
}

.show__projects-item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.63);
  left: 0;
  bottom: -25px;
}

.show__link {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #20C2FF;
}

.show-slider {
  position: relative;
  max-width: 1460px;
  height: 600px;
  overflow: hidden;
}

.show-slider .swiper-wrapper {
  width: 100%;
  height: 100%;
}

.show-slider .swiper-slide {
  display: flex;
}

.show-slider .slide-left-block {
  position: relative;
}

.show-slider .slide-left-block::after {
  height: 100%;
  position: absolute;
  width: 7px;
  content: "";
  right: 0;
  background: #20C2FF;
}

.show-slider .slide-content {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
}

.show-slider .slide-title {
  font-size: 28px;
  max-width: 360px;
  font-weight: 500;
  line-height: 130%;
  margin-bottom: 10px;
}

.show-slider .swiper-pagination {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  position: absolute;
  right: 50px;
  bottom: 50px;
  top: auto;
  transform: translate3d(0px, 0%, 0);
}

.show-slider .swiper-pagination-bullet {
  cursor: pointer;
  width: 16px;
  height: 16px;
  border: 1px solid #20C2FF;
  border-radius: 50%;
}

.show-slider .swiper-pagination-bullet-active {
  background-color: #20C2FF;
}

.clients {
  padding: 120px 0;
}

.clients__title {
  font-size: 48px;
  font-weight: 600;
  letter-spacing: 0.05em;
  line-height: 60px;
}

.clients-slider {
  max-width: 1300px;
  margin: auto;
  margin-top: 40px;
  overflow-x: hidden;
}

.clients-slider .swiper-wrapper {
  width: 100%;
  display: flex;
}

.clients-slider .swiper-slide {
  width: 100%;
  border: 2px solid #D7D7D7;
  min-width: 300px;
  min-height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients-slider .swiper-pagination {
  display: flex;
  position: relative;
  margin-top: 30px;
  justify-content: center;
}

.clients-slider .swiper-pagination-bullet {
  cursor: pointer;
  width: 16px;
  height: 16px;
  border: 1px solid #20C2FF;
  border-radius: 50%;
}

.clients-slider .swiper-pagination-bullet-active {
  background-color: #20C2FF;
}

.about {
  padding: 120px 0;
  background: url(../img/main/about-bg.png);
  background-repeat: no-repeat;
  background-position: bottom left;
}

.about__a-tent {
  padding-top: 120px;
}

.about__content {
  margin-top: 60px;
  position: relative;
}

.about__content:before {
  content: "";
  position: absolute;
  width: 5px;
  height: 100%;
  left: 0;
  background-color: #20C2FF;
}

.about__text {
  position: relative;
  left: 15px;
  font-size: 20px;
  margin-bottom: 20px;
  max-width: 1200px;
}

.director {
  position: relative;
}

.director__decor {
  min-height: 520px;
  width: 36%;
  z-index: 1;
  position: absolute;
  background-color: #283755;
}

.director__photo {
  padding-left: 18%;
  position: relative;
  z-index: 2;
}

.director__photo img {
  display: block;
}

.director__photo:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 8px;
  background: #20C2FF;
}

.director__info {
  display: flex;
  -moz-column-gap: 50px;
       column-gap: 50px;
  min-height: 520px;
  align-items: center;
}

.director__quote {
  max-width: 650px;
  padding-top: 100px;
}

.director__quote-text {
  position: relative;
  font-size: 28px;
  line-height: 130%;
  letter-spacing: 0.03em;
  margin-bottom: 95px;
  padding-left: 80px;
}

.director__quote-text::before {
  position: absolute;
  content: url(../img/main/quote.png);
  top: -20px;
  left: 0px;
}

.director__quote-text::after {
  position: absolute;
  content: url(../img/main/quote.png);
  transform: rotate(180deg);
  bottom: -35px;
  right: 20px;
}

.director__name {
  position: relative;
  padding-left: 80px;
  font-size: 20px;
  font-weight: 500;
}

.director__name:before {
  position: absolute;
  left: 0;
  top: -20px;
  width: 100%;
  height: 1px;
  background: rgba(8, 26, 61, 0.24);
  content: "";
}

.director__more {
  margin-top: 60px;
  display: flex;
  -moz-column-gap: 50px;
       column-gap: 50px;
}

.director__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  max-width: 520px;
}

.director__high-level {
  font-size: 24px;
  font-weight: 600;
  margin: 45px 0 25px 0;
  max-width: 520px;
}

.director__right-block .director__text {
  padding-left: 80px;
  max-width: 470px;
}

.exp {
  position: relative;
  background-image: url(../img/main/exp-bg.png);
  background-repeat: no-repeat;
  background-position: 0 center;
}

.exp__decor {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 45%;
  height: 380px;
  background: linear-gradient(269.85deg, rgba(255, 255, 255, 0.92) 34.3%, rgba(255, 255, 255, 0) 136.47%);
}

.exp .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 0;
}

.exp__title {
  font-size: 120px;
  font-weight: 700;
}

.exp__subtitle {
  font-weight: 700;
  font-size: 26px;
  line-height: 140%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.exp__left-block {
  position: relative;
  z-index: 2;
}

.exp__right-block {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.exp__item {
  min-height: 200px;
  max-width: 410px;
  background: rgba(215, 215, 215, 0.54);
  -webkit-backdrop-filter: blur(12.5px);
          backdrop-filter: blur(12.5px);
}

.exp__item:first-child {
  border-radius: 0 60px 0 0;
}

.exp__inner-box {
  padding: 45px 48px;
}

.exp__number {
  font-weight: 700;
  font-size: 65px;
  color: white;
  margin-bottom: 15px;
}

.exp__text {
  font-size: 20px;
  color: white;
}

.footer {
  background-color: #283755;
  font-size: 18px;
}

.footer .wrapper {
  position: relative;
  display: flex;
  padding: 45px 12px;
  -moz-column-gap: 135px;
       column-gap: 135px;
}

.footer .wrapper::before {
  content: "";
  position: absolute;
  height: calc(100% - 90px);
  width: 1px;
  background-color: white;
  right: 415px;
}

.footer__title {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.035em;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.footer__designs-box {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}

.footer__designs-box a {
  max-width: 300px;
  margin-bottom: 10px;
  line-height: 24px;
}

.footer__designs-block a:nth-child(1) {
  font-weight: 600;
  margin-bottom: 18px;
}

.footer__designs-block:nth-child(3) {
  max-width: 180px;
}

.footer__nav-bottom {
  max-width: 800px;
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
  margin-top: 25px;
}

.footer__contacts-item {
  display: flex;
  align-items: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
  padding-bottom: 20px;
  font-size: 20px;
  letter-spacing: 0.06em;
}

.footer__contacts-secondary {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
  margin-top: 20px;
}

.footer__projects {
  max-width: 300px;
  flex: 1;
}

.footer__projects a {
  margin-bottom: 10px;
  line-height: 24px;
}

.footer__gallery {
  max-width: 245px;
  flex: 1;
}

.footer__gallery a {
  margin-bottom: 10px;
  line-height: 24px;
}

.footer__a-tent a {
  max-width: 300px;
  margin-bottom: 10px;
  line-height: 24px;
}

.footer__solutions {
  margin-top: 45px;
}

.footer__politics {
  display: flex;
  font-size: 16px;
  color: white;
  margin-top: 30px;
  -moz-column-gap: 90px;
       column-gap: 90px;
}

.footer__politics a {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}

.description {
  padding-top: 80px;
}

.description__link {
  color: #20C2FF;
  font-weight: 500;
}

.description__box {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}

.description__content {
  max-width: 785px;
}

.description__title {
  font-size: 50px;
  font-weight: 600;
  margin-top: 12px;
}

.description__text {
  font-size: 18px;
  font-weight: 500;
  max-width: 650px;
  line-height: 24px;
}

.description__feedback {
  position: relative;
  margin: 30px 0;
  min-height: 250px;
  max-width: 410px;
  flex: 1;
  border: 1px solid #BEBEBE;
  border-radius: 0px 48px 0px 0px;
}

.description__feedback p {
  padding: 16px 0 0 16px;
  margin-bottom: 40px;
  line-height: 20px;
}

.description__feedback-question {
  font-size: 20px;
  font-weight: 500;
  max-width: 350px;
  padding: 16px 16px;
}

.description__feedback-link {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  font-weight: 600;
  font-size: 18px;
  align-items: center;
  background-color: #20C2FF;
  height: 50px;
  padding-left: 16px;
}

.cards {
  padding: 120px 0;
}

.cards__box {
  display: flex;
  flex-wrap: wrap;
  row-gap: 60px;
  -moz-column-gap: 15px;
       column-gap: 15px;
}

.card {
  max-width: 415px;
  display: flex;
  flex-direction: column;
}

.card__content {
  position: relative;
  border: 1px solid #BEBEBE;
  border-top: 9px solid #20C2FF;
  padding-left: 16px;
}

.card__content .margin-0 {
  margin-bottom: 0;
}

.card__title {
  text-transform: uppercase;
  font-size: 22px;
  color: rgb(8, 26, 61);
  margin-bottom: 40px;
}

.card__text {
  font-size: 18px;
  color: rgb(62, 65, 69);
  min-height: 170px;
  padding-bottom: 60px;
}

.card__link {
  position: absolute;
  bottom: 20px;
  font-size: 18px;
  color: rgb(8, 26, 61);
  font-weight: 500;
}

.card__link::after {
  position: absolute;
  content: url(../img/cards/card-arrow.png);
  width: 10px;
  height: 18px;
  right: -25px;
  top: 2px;
}

.decor-card {
  color: white;
  background-color: #20C2FF;
  flex: 1;
  background-image: url(../img/cards/card-bg.png);
  background-position-y: 230px;
  background-repeat: no-repeat;
}

.decor-card__small-text {
  letter-spacing: 0.04em;
  padding-left: 16px;
  margin-top: 30px;
}

.decor-card__big-text {
  letter-spacing: 0.04em;
  padding-left: 16px;
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 700;
}

.slider {
  padding-bottom: 120px;
}

.slider__link {
  color: #20C2FF;
  font-weight: 500;
}

.slider__title {
  font-size: 48px;
  font-weight: 700;
  margin-top: 15px;
}

.slider .swiper-slide {
  max-width: 780px;
  flex-shrink: 0;
}

.slider .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}

.slider .swiper-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
}

.slider .project-slider {
  margin-top: 50px;
}

.slider .project-slider__bottom {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.slider .project-slider__nav {
  display: flex;
  -moz-column-gap: 50px;
       column-gap: 50px;
}

.slider .project-slider__all-projects {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 18px;
  background-color: #20C2FF;
  border-radius: 40px;
  width: 170px;
  height: 70px;
}

.slider .swiper-button-disabled {
  opacity: 0.4;
}

.slider .swiper-button-next,
.slider .swiper-button-prev {
  cursor: pointer;
  position: relative;
  width: 70px;
  height: 70px;
  border: 1px solid #20C2FF;
  border-radius: 50%;
}

.slider .swiper-button-next img,
.slider .swiper-button-prev img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -50%);
}

.slider .swiper-button-prev img {
  transform: rotate(180deg) translate(65%, 50%);
}

.slider-bottom {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.slider-nav {
  display: flex;
  -moz-column-gap: 50px;
       column-gap: 50px;
}

.slider-all-projects {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 18px;
  background-color: #20C2FF;
  border-radius: 40px;
  width: 170px;
  height: 70px;
}

.swiper-button-disabled {
  opacity: 0.4;
}

.swiper-button-next,
.swiper-button-prev {
  cursor: pointer;
  position: relative;
  width: 70px;
  height: 70px;
  border: 1px solid #20C2FF;
  border-radius: 50%;
}

.swiper-button-next img,
.swiper-button-prev img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -50%);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.swiper-button-prev img {
  transform: rotate(180deg) translate(65%, 50%);
}

@media screen and (max-width: 1300px) {
  .wrapper {
    padding: 0 20px;
  }

  .menu .mobile-arr {
    position: relative;
    width: 220px;
  }

  .menu .mobile-btn {
    transition: all 0.3s;
  }

  .menu .mobile-arr::after {
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    border-bottom: 3px solid #20C2FF;
    border-right: 3px solid #20C2FF;
    transform: rotate(45deg);
    transition: all 0.3s;
    right: -30px;
  }

  .menu .mobile-arr.active::after {
    transform: rotate(-135deg);
    top: 20px;
  }

  .menu__nav {
    flex-direction: column;
  }

  .menu__top .wrapper {
    justify-content: space-between;
  }

  .menu .border {
    border: none;
    background: none;
  }

  .menu__left-block {
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
    max-width: 100%;
    box-shadow: none;
    background: none;
    max-height: 50px;
    overflow: hidden;
  }

  .menu__left-block .inner-box {
    padding: 0;
  }

  .menu__left-block .menu__subpoint {
    flex-direction: column;
    row-gap: 5px;
  }

  .menu__subpoint::before {
    display: none;
  }

  .menu__design-item {
    max-width: 100%;
  }

  .menu__design-item a:not(:first-child) {
    display: none;
  }

  .menu__design-item a:first-child {
    color: black;
  }

  .menu__contacts {
    display: none;
  }

  .menu__solution {
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
  }

  .menu__central-block,
  .menu__right-block {
    row-gap: 0px;
    width: 100%;
    max-width: none;
  }

  .menu__central-block .menu__title,
  .menu__right-block .menu__title {
    padding: 12px 0;
  }

  .menu__projects,
  .menu__gallery,
  .menu__a-tent {
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
    max-height: 50px;
    overflow: hidden;
  }

  .menu__projects .inner-box,
  .menu__gallery .inner-box,
  .menu__a-tent .inner-box {
    padding: 0;
  }

  .menu__title {
    padding: 12px 0;
  }

  .header__wrapper {
    padding: 0 20px;
  }

  .header__nav {
    display: none;
  }

  .hero__title {
    margin-top: 15px;
    font-size: 75px;
  }

  .hero__text {
    font-size: 26px;
    max-width: 470px;
    margin-bottom: 45px;
  }

  .footer .wrapper {
    flex-direction: column;
    row-gap: 50px;
  }

  .footer .wrapper::before {
    display: none;
  }

  .footer__designs-box {
    justify-content: space-between;
  }

  .footer__designs-box a {
    max-width: none;
  }

  .footer__designs-block:nth-child(3) {
    max-width: none;
  }

  .footer__nav-bottom {
    max-width: none;
    justify-content: space-between;
  }

  .footer__gallery {
    max-width: 135px;
  }

  .footer__a-tent {
    max-width: 280px;
    flex: 1;
  }

  .footer__politics {
    position: absolute;
    bottom: 25px;
  }

  .footer__contacts {
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 768px) {
  .menu__top input {
    max-width: 170px;
    height: 50px;
    background-size: 15%;
    background-position: 10px 10px;
    font-size: 14px;
    padding-left: 50px;
  }

  .menu__close {
    width: 50px;
    height: 50px;
  }

  .menu__close::after,
  .menu__close::before {
    width: 25px;
    height: 2px;
    left: 23%;
  }

  .menu__title {
    position: relative;
    font-size: 16px;
  }

  .menu__subpoint {
    margin-top: 5px;
    padding: 0;
  }

  .menu__subpoint a {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .menu__design-item a:first-child {
    font-size: 16px !important;
    text-transform: none;
  }

  .header__search {
    display: none;
  }

  .header__logo {
    max-width: 120px;
  }

  .header__logo img {
    width: 100%;
  }

  .header__burger-box {
    width: 60px;
    height: 60px;
  }

  .header__burger-line,
  .header__burger-line::after,
  .header__burger-line::before {
    width: 30px;
  }

  .hero {
    padding: 70px 0 120px 0;
  }

  .hero__feedback {
    width: 180px;
    height: 40px;
    font-size: 16px;
  }

  .hero__subtitle {
    font-size: 20px;
  }

  .hero__title {
    font-size: 32px;
  }

  .hero__text {
    font-size: 18px;
  }

  .footer .wrapper {
    row-gap: 30px;
  }

  .footer__designs-block {
    display: none;
  }

  .footer__title {
    margin-bottom: 20px;
    line-height: 24px;
    font-size: 16px;
  }

  .footer__nav-bottom {
    flex-direction: column;
    margin: 0;
  }

  .footer__projects a:not(:first-child),
  .footer__gallery a:not(:first-child),
  .footer__a-tent a:not(:first-child) {
    display: none;
  }

  .footer__projects a,
  .footer__gallery a,
  .footer__a-tent a {
    margin-bottom: 20px;
  }

  .footer__contacts {
    position: relative;
  }

  .footer__contacts img {
    display: none;
  }

  .footer__contacts::before {
    position: absolute;
    content: "";
    width: 80%;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.45);
    bottom: 45px;
  }

  .footer__contacts-item {
    font-size: 16px;
  }

  .footer__contacts-secondary {
    display: none;
  }

  .footer__politics {
    flex-direction: column;
    row-gap: 10px;
  }
}