.suitable {
 background-color: $color-dark-blue;

 .wrapper {
  padding: 50px 0 10px;
 }

 &__title {
  color: white;
  font-size: 36px;
  letter-spacing: 0.04em;
  font-weight: 600;
  margin-bottom: 50px;
 }

 &__content {
  display: flex;
 }

 &__content.grid {
  display: grid;
  grid-template-columns: 400px 440px 400px;
 }

 &__item {
  color: white;
  position: relative;
  margin-right: 35px;
  margin-bottom: 40px;
  font-size: 18px;
  font-weight: 500;
  padding-left: 10px;
 }

 &__item:before {
  position: absolute;
  content: '';
  left: 0;
  width: 3px;
  height: 24px;
  background-color: $color-blue;
 }
}