.description {
  padding-top: 80px;

  &__link {
    color: $color-blue;
    font-weight: 500;
  }

  &__box {
    position: relative;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 1000px) {
      flex-direction: column;
    }
  }

  &__content {
    max-width: 785px;
    margin: 0 40px 0 0;

    @media screen and (max-width: 1000px) {
      margin: 0 0 40px 0;
    }
  }

  &__title {
    font-size: 50px;
    font-weight: 600;
    margin-top: 12px;
    margin-bottom: 35px;
    line-height: 128%;
  }

  &__text {
    font-size: 18px;
    font-weight: 500;
    max-width: 660px;
    line-height: 24px;
    margin-bottom: 0;
  }

  &__feedback {
    position: relative;
    height: fit-content;
    min-height: 205px;
    max-width: 430px;
    flex: 1;
    top: 15px;
    border: 1px solid #BEBEBE;
    border-radius: 0px 48px 0px 0px;
    background: white;

    p {
      position: relative;
      padding: 0px 0 65px 16px;
      margin-bottom: 40px;
      line-height: 20px;
    }

    p:before {
      position: absolute;
      content: '';
      top: -20px;
      width: 85%;
      height: 1px;
      background: rgba(40, 55, 85, 0.6);
    }
  }

  &__feedback-question {
    font-size: 18px;
    font-weight: 500;
    max-width: 360px;
    padding: 25px 16px;
  }

  &__feedback-link {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    font-weight: 600;
    font-size: 18px;
    align-items: center;
    background-color: $color-blue;
    height: 50px;
    padding-left: 130px;
  }

  &__feedback-link::before {
    position: absolute;
    content: '';
    width: 9px;
    height: 9px;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    transform: rotate(-45deg);
    right: 145px;
    opacity: 0;
    top: 21px;
    transition: all .4s;
  }

  &__feedback-link:hover:before {
    opacity: 1;
    right: 125px;
  }

  &__img {
    margin-top: 50px;

    img {
      width: 100%;
    }
  }
}

@media screen and (max-width: 1200px) {
  .description {
    &__content {
      max-width: 600px;
    }

    &__title {
      font-size: 40px;
    }

    &__text {
      font-size: 16px;
    }

    &__feedback-link {
      padding: 0;
      display: flex;
      justify-content: center;
    }
  }
}

@media screen and (max-width: 768px) {
  .description {
    padding-top: 40px;

    .wrapper {
      padding: 0;
    }

    &__link {
      font-size: 14px;
      padding: 0 15px;
    }

    &__title {
      font-family: 'Play', sans-serif;
      font-weight: 700;
      padding-left: 15px;
    }

    &__text {
      padding: 0 15px;
    }

    &__feedback {
      max-width: calc(100% - 30px);
      margin: auto;
    }
  }
}

@media screen and (max-width: 500px) {
  .description {
    &__link {
      font-size: 14px;
    }

    &__title {
      font-family: 'Play', sans-serif;
      font-weight: 700;
      font-size: 24px;
      max-width: 305px;

    }

    &__text {
      font-size: 14px;
      line-height: 18px;
    }

    &__feedback {
      p {
        font-size: 14px;
        line-height: 16px;
      }
    }

    &__feedback-question {
      font-size: 16px;
    }

    &__feedback-link {
      font-size: 14px;
    }
  }
}