.we-can {
 background: #F6F6F6;

 .wrapper {
  padding: 60px 0;
 }

 &__box:not(:last-child) {
  margin-bottom: 60px;
  border-bottom: 1px solid #A4A4A4;
 }

 &__box {
  max-width: 1180px;
 }

 &__title {
  font-size: 36px;
  font-weight: 600;
  line-height: 42px;
  letter-spacing: 0.04em;
  margin-bottom: 30px;
 }

 &__text {
  font-size: 18px;
 }

 @media screen and (max-width: 1300px) {
  .wrapper {
   padding: 25px 15px;
  }

  &__box:not(:last-child) {
   margin-bottom: 40px;
  }

  &__title {
   font-size: 26px;
   line-height: 24px;
   margin-bottom: 25px;
  }

  &__text {
   font-size: 16px;
  }
 }

 @media screen and (max-width: 768px) {
  .wrapper {
   padding: 15px 15px;
  }

  &__box:not(:last-child) {
   margin-bottom: 20px;
  }

  &__title {
   font-size: 20px;
   line-height: 24px;
   margin-bottom: 15px;
  }

  &__text {
   font-size: 14px;
   line-height: 16px;
  }
 }
}