.slider-all-projects {
 position: absolute;
 top: -10px;
 left: 87%;
 display: flex;
 align-items: center;
 padding-left: 20px;
 font-weight: 600;
 font-size: 16px;
 background-color: $color-blue;
 border-radius: 40px;
 width: 145px;
 height: 55px;
 transition: all .3s;
}

.slider-all-projects::before {
 position: absolute;
 position: absolute;
 content: '';
 width: 9px;
 height: 9px;
 border-bottom: 2px solid white;
 border-right: 2px solid white;
 transform: rotate(-45deg);
 right: 35px;
 opacity: 0;
 transition: all .4s;
}

.slider-all-projects:hover {
 width: 165px;
}

.slider-all-projects:hover:before {
 right: 25px;
 opacity: 1;
}