.slider {
    &__link {
        color: $color-blue;
        font-weight: 500;
    }

    &__title {
        font-size: 48px;
        font-weight: 700;
        margin-top: 15px;
    }

    .swiper-slide {
        max-width: 780px;
        flex-shrink: 0;

        img {
            display: block;
            height: 100%;
            width: 100%;
            max-height: 580px;
        }
    }

    .swiper-wrapper {
        display: flex;
        width: 100%;
        height: 100%;
    }

    .project-slider {
        margin-top: 50px;

        &__bottom {
            margin-top: 30px;
            display: flex;
            justify-content: space-between;
        }

        &__nav {
            display: flex;
            column-gap: 50px;
        }

        &__all-projects {
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 600;
            font-size: 18px;
            background-color: $color-blue;
            border-radius: 40px;
            width: 170px;
            height: 70px;
        }
    }

    .swiper-button-disabled {
        opacity: 0.4;
    }

    .swiper-button-next,
    .swiper-button-prev {
        cursor: pointer;
        position: relative;
        width: 55px;
        height: 55px;
        border: 1px solid $color-blue;
        border-radius: 50%;
        top: 22px;

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-40%, -50%);
        }
    }

    .swiper-button-prev {
        img {
            transform: rotate(180deg) translate(65%, 50%);
        }
    }
}

.design-slider {
    position: relative;
    padding-top: 120px;
    padding-bottom: 0;

    &__nav {
        max-width: 860px;
        width: 100%;
        position: absolute;
        display: flex;
        justify-content: space-between;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 5;
    }

    .swiper-button-prev,
    .swiper-button-next {
        background-color: white;
    }
}

.swiper-slide {
    position: relative;
}

.project-slider-text {
    position: absolute;
    bottom: 75px;
    left: 75px;
    color: white;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    max-width: 430px;
    transform: translateX(-200px);
    opacity: 0;
    transition: all .4s;
    transition-delay: .2s;
}

.swiper-slide-active,
.swiper-slide-next {
    .project-slider-text {
        transform: translateX(00px);
        opacity: 1;
    }
}

.slider-bottom {
    position: relative;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    height: 55px;
}

.slider-nav {
    position: relative;
    display: flex;
    column-gap: 40px;
}

.slider-nav::before {
    position: absolute;
    content: '';
    width: 1px;
    height: 100%;
    background-color: #D7D7D7;
    left: 50%;
}

.slider-all-projects {
    position: absolute;
    top: -10px;
    left: 87%;
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-weight: 600;
    font-size: 16px;
    background-color: $color-blue;
    border-radius: 40px;
    width: 145px;
    height: 55px;
    transition: all .3s;
}

.slider-all-projects::before {
    position: absolute;
    position: absolute;
    content: '';
    width: 9px;
    height: 9px;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    transform: rotate(-45deg);
    right: 35px;
    opacity: 0;
    transition: all .4s;
}

.slider-all-projects:hover {
    width: 165px;
}

.slider-all-projects:hover:before {
    right: 25px;
    opacity: 1;
}


.swiper-button-disabled {
    opacity: 0.4;
}

.swiper-button-next,
.swiper-button-prev {
    cursor: pointer;
    position: relative;
    width: 55px;
    height: 55px;
    border: 1px solid $color-blue;
    border-radius: 50%;
    top: 40%;

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-40%, -50%);
    }
}

.swiper-button-next::after,
.swiper-button-prev::after {
    display: none;
}

.swiper-button-next {
    right: 0;
}

.swiper-button-prev {
    left: 0;

    img {
        transform: rotate(180deg) translate(65%, 50%);
    }
}

@media screen and (max-width: 768px) {


    .slider-nav {
        display: none;
    }

    .slider-all-projects {
        width: 115px;
        height: 40px;
        left: 50%;
        padding-left: 20px;
        font-size: 14px !important;
        transform: translateX(-50%);
    }

    .swiper-button-prev {
        left: 0;
        top: 23px;
    }

    .swiper-button-next {
        right: 0;
        top: 23px;
    }
}