.slider {
    &__link {
        color: $color-blue;
        font-weight: 500;
    }

    &__title {
        font-size: 48px;
        font-weight: 700;
        margin-top: 15px;
    }

    .swiper-slide {
        max-width: 780px;
        flex-shrink: 0;

        img {
            display: block;
            height: 100%;
            width: 100%;
            max-height: 580px;
        }
    }

    .swiper-wrapper {
        display: flex;
        width: 100%;
        height: 100%;
    }


    .swiper-button-disabled {
        opacity: 0.4;
    }

    .swiper-button-next,
    .swiper-button-prev {
        cursor: pointer;
        position: relative;
        width: 55px;
        height: 55px;
        border: 1px solid $color-blue;
        border-radius: 50%;
        top: 22px;

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-40%, -50%);
        }
    }

    .swiper-button-prev {
        img {
            transform: rotate(180deg) translate(65%, 50%);
        }
    }

    @media screen and (max-width: 768px) {
        &__title {
            font-size: 22px;
            font-family: 'Play', sans-serif;
        }

        .swiper-slide {
            img {
                height: 230px;
                object-fit: cover;
            }
        }
    }
}


.swiper-slide {
    position: relative;
}

.project-slider-text {
    position: absolute;
    bottom: 75px;
    left: 75px;
    color: white;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    max-width: 430px;
    transform: translateX(-200px);
    opacity: 0;
    transition: all .4s;
    transition-delay: .2s;

    @media screen and (max-width: 768px) {
        position: relative;
        color: black;
        font-size: 14px;
        line-height: 16px;
        bottom: auto;
        left: auto;
        padding: 15px;
        margin-top: 0;
    }
}

.swiper-slide-active,
.swiper-slide-next {
    .project-slider-text {
        transform: translateX(00px);
        opacity: 1;

    }
}

.swiper-slide-next {
    .project-slider-text {
        @media screen and (max-width: 768px) {
            transform: translateX(-200px);
            opacity: 0;
        }
    }
}

.slider-bottom {
    position: relative;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    height: 55px;
}

.slider-nav {
    position: relative;
    display: flex;
    column-gap: 40px;
}

.slider-nav::before {
    position: absolute;
    content: '';
    width: 1px;
    height: 100%;
    background-color: #D7D7D7;
    left: 50%;
}


.swiper-button-disabled {
    opacity: 0.4;
}

.swiper-button-next,
.swiper-button-prev {
    cursor: pointer;
    position: relative;
    width: 55px;
    height: 55px;
    border: 1px solid $color-blue;
    border-radius: 50%;
    top: 40%;

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-40%, -50%);
    }
}

.swiper-button-next::after,
.swiper-button-prev::after {
    display: none;
}

.swiper-button-next {
    right: 0;
}

.swiper-button-prev {
    left: 0;

    img {
        transform: rotate(180deg) translate(65%, 50%);
    }
}

.slider-solutions {
    display: none;
}

@media screen and (max-width: 768px) {
    .slider-solutions {
        display: block;
    }

    .slider-nav {
        display: none;
    }

    .slider-all-projects {
        width: 115px;
        height: 40px;
        left: 50%;
        padding: 0;
        display: flex;
        justify-content: center;
        font-size: 14px !important;
        transform: translateX(-50%);
    }

    .swiper-button-prev {
        left: 0;
        top: 23px;
    }

    .swiper-button-next {
        right: 0;
        top: 23px;
    }
}