.technical {
 background: #F6F6F6;

 .wrapper {
  padding: 50px 0;
 }

 &__title {
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.04em;
 }

 &__text {
  font-size: 18px;
  line-height: 24px;
  max-width: 800px;
 }

 &__box {
  margin-top: 50px;
 }

 &__tabs {
  display: flex;
 }

 &__link {
  font-size: 18px;
  background: rgba(255, 255, 255, 0.45);
  border: none;
  height: 55px;
  padding: 0 20px;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
 }

 &__link.active {
  background-color: white;
  border-top: 3px solid $color-blue;
  font-weight: 600;
 }

 &__link:nth-child(2) {
  border-left: 1px solid #DADADA;
  border-right: 1px solid #DADADA;
 }

 &__presentation {
  height: 55px;
  border: none;
  border-radius: 40px;
  background-color: $color-blue;
  cursor: pointer;
  color: white;
  padding: 0 30px;
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
  display: flex;
  align-items: center;

  img {
   margin-left: 15px;
  }
 }

 &__tabs-content {
  background-color: white;
  animation: fadeEffect 1s;
 }

 &__tabs-top {
  width: calc(100% - 30px);
  margin: auto;
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
 }

 &__tabs-bottom {
  padding-bottom: 50px;
  display: flex;
 }

 &__tabs-block {
  width: 100%;
 }

 &__tabs-title {
  font-size: 28px;
  font-weight: 600;
 }

 &__tabs-point {
  padding: 0 15px;
  position: relative;
  display: flex;
  align-items: center;
  height: 50px;
  font-weight: 600;
 }

 &__tabs-point.grid {
  width: 100%;
  display: grid;
  grid-template-columns: 300px 300px;
 }

 &__tabs-point:before {
  position: absolute;
  content: '';
  width: 93%;
  height: 1px;
  background-color: #DADADA;
  bottom: 0;
  left: 15px;
 }

 &__tabs-characteristic {
  font-weight: 600;
  line-height: 125%;
 }

 &__tabs-detail {
  color: rgba(87, 87, 87, 1);
  font-weight: 500;
 }

 &__tabs-content-mobile {
  display: none;
 }

 @keyframes fadeEffect {
  from {
   opacity: 0;
  }

  to {
   opacity: 1;
  }
 }

 @media screen and (max-width: 1300px) {
  .wrapper {
   padding: 40px 15px;
  }

  &__title {
   font-size: 34px;
  }

  &__text {
   font-size: 16px;
  }

  &__link {
   font-size: 16px;
  }
 }

 @media screen and (max-width: 768px) {
  .wrapper {
   padding: 40px 15px;
  }

  &__mobile-box {
   position: relative;
   width: 100%;
   margin-bottom: 15px;
   background-color: white;
   max-height: 40px;
   overflow: hidden;
   transition: all .2s;

   &.active {
    max-height: 1000px;
    border-top: 3px solid $color-blue;

    &::before {
     transform: rotate(90deg);
     right: 37px;
    }
   }

   &::after {
    position: absolute;
    content: '';
    width: 15px;
    height: 2px;
    background: $color-blue;
    top: 20px;
    right: 30px;
   }

   &::before {
    position: absolute;
    background: $color-blue;
    content: '';
    height: 15px;
    width: 2px;
    top: 14px;
    right: 36px;
    transition: all .2s;
   }
  }

  &__tabs-content-mobile {
   display: block;
   background-color: white;
  }

  &__title {
   font-size: 22px;
   font-family: 'Play', sans-serif;
  }

  &__text {
   font-size: 14px;
  }

  &__tabs {
   flex-direction: column;
  }

  &__link {
   width: 100%;
   height: 40px;
   font-size: 14px;
   font-weight: 700;
   display: flex;
   justify-content: start;
   align-items: center;
   padding: 0;

   &.active {
    font-weight: 700;
    border: none;
   }
  }

  &__link:nth-child(2) {
   border-left: none;
   border-right: none;
  }
 }
}