.spheres-designs {

 background-image: url('../img/spheres/bg.png');
 background-repeat: no-repeat;
 background-position: bottom left;

 &__title {
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.04em;
  max-width: 1060px;
 }

 &__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  max-width: 1060px;
 }

 &__buttons {
  display: flex;
  margin-top: 40px;
 }

 &__premium-link {
  position: relative;
  background-color: $color-blue;
  padding: 15px 30px;
  border-radius: 40px;
  font-weight: 600;
  margin-right: 25px;
  transition: all .2s;

  &::after {
   position: absolute;
   content: '';
   width: 8px;
   height: 8px;
   border-bottom: 2px solid white;
   border-right: 2px solid white;
   transform: rotate(-45deg);
   top: 20px;
   right: 30px;
   opacity: 0;
   transition: all .2s;
  }

  &:hover {
   padding: 15px 60px 15px 30px;

   &::after {
    opacity: 1;
   }
  }
 }

 &__classic-link {
  position: relative;
  background-color: white;
  padding: 15px 30px;
  border: 1px solid $color-blue;
  border-radius: 40px;
  font-weight: 600;
  color: black;
  transition: all .2s;

  &::after {
   position: absolute;
   content: '';
   width: 8px;
   height: 8px;
   border-bottom: 2px solid black;
   border-right: 2px solid black;
   transform: rotate(-45deg);
   top: 20px;
   right: 30px;
   opacity: 0;
   transition: all .2s;
  }

  &:hover {
   padding: 15px 60px 15px 30px;

   &::after {
    opacity: 1;
   }
  }
 }

 @media screen and (max-width: 768px) {
  &__title {
   font-family: 'Play';
   font-weight: 700;
   font-size: 22px;
   line-height: 28px;
   letter-spacing: 0.02em;
  }

  &__text {
   font-size: 14px;
   line-height: 16px;
  }

  &__buttons {
   flex-direction: column;
   flex-grow: 0;
  }

  &__premium-link {
   width: fit-content;
   font-size: 14px;
   margin-bottom: 20px;
  }

  &__classic-link {
   width: fit-content;
   font-size: 14px;
  }
 }

}