.spheres-optimization {

 &__title {
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.04em;
  max-width: 840px;
 }

 &__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  max-width: 840px;
 }

}